<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://org.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="_ctx" th:content="@{/}" />
<title>副部门</title>
<script th:src="@{/jquery-3.3.1.min.js}"></script>
<script th:src="@{/share.js}"></script>
<script th:src="@{/layui/layui.js}"></script>
<link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
</head>
<body>
	<hr class="layui-bg-blue">
	<div align="center">
	<div id="permissionTransfer"></div>
	</div>
    <div  align="center" style="margin-top: 1.3em;">
      <button class="layui-btn" onclick="submitConfiguration()">保存副部门</button>
    </div>
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		var globalAllData=[];
		var globalRightData=[];
		
		buildTransferData([[${ministries}]],[[${commonRelations}]]);	
		
		var transfer;
		layui.use('transfer', function() {
			transfer = layui.transfer;
			transfer.render({
				elem : '#permissionTransfer', //绑定元素
				title: ['未选部门', '已选部门'] ,  //自定义标题
				data : globalAllData,
				value : globalRightData,
				id : 'permissionTransfer' //定义索引
			});
		});
		
		//构建备选穿梭框
		function buildTransferData(allData,rightData){
			for(var i=0;i<allData.length;i++){
				var obj={};
				obj.value=allData[i].id;
				obj.title=allData[i].name;
				globalAllData.push(obj);
			}
			for(var j=0;j<rightData.length;j++){
				globalRightData.push(rightData[j].masterId);
			}
		}
		
		
		function submitConfiguration(){
			var getData = transfer.getData('permissionTransfer');
			$.ajax({
				url : _ctx + '/common-relation/vice-ministries',
				type : 'post',
				data : {ministriesIds:JSON.stringify(getData),userId:[[${userId}]]},
				success : function(result) {
					if (result.SUCCESS) {
						var index = parent.layer.getFrameIndex(window.name);
						parent.layer.close(index);
						parent.layer.msg('保存成功');
					} else {
						layer.msg('保存失败');
					}
				}
			});
		}
		/*]]>*/
	</script>
</body>
</html>
