<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://org.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<meta charset="UTF-8">
<meta name="_ctx" th:content="@{/}" />
<title>首页</title>
<script th:src="@{/jquery-3.3.1.min.js}"></script>
<script th:src="@{/share.js}"></script>
<script th:src="@{/layui/layui.js}"></script>
<link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
<style type="text/css">
.layui-form-item{
width: 80%;
}
</style>
</head>
<body>
<hr class="layui-bg-blue">
	<form class="layui-form" action="">
  <div class="layui-form-item">
    <label class="layui-form-label">原密码</label>
    <div class="layui-input-block">
      <input type="password" name="oldPassword" lay-verify="required" autocomplete="off" placeholder="请输入原密码" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">新密码</label>
    <div class="layui-input-block">
      <input type="password" name="newPassword" lay-verify="required" autocomplete="off" placeholder="请输入新密码" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <label class="layui-form-label">请确认</label>
    <div class="layui-input-block">
      <input type="password" id="newPasswordConfirm" lay-verify="required|repeatCheck" autocomplete="off" placeholder="请再次输入新密码" class="layui-input">
    </div>
  </div>
  <div class="layui-form-item">
    <div class="layui-input-block">
      <button class="layui-btn" lay-submit="" lay-filter="submitForm">提交修改</button>
      <button type="reset" class="layui-btn layui-btn-primary">重新输入</button>
    </div>
  </div>
</form>
	<script type="text/javascript" th:inline="javascript">
	
	/*<![CDATA[*/
	layui.use(['form'], function(){
		  var form = layui.form
		  ,layer = layui.layer;
		  
		  form.verify({
			  repeatCheck: function(value, item){ //value：表单的值、item：表单的DOM对象
			    if($("[name='newPassword']").val()!=value){
			    	return "与新密码不一致";
			    }
			  }
			});   
		  
		  form.on('submit(submitForm)', function(data){
			  $.ajax({
				  url:_ctx+'/manager-user/password',
				  type:'put',
				  data:data.field,
				  success:function(result){
					  if(result.SUCCESS){
						  var index = parent.layer.getFrameIndex(window.name);
						  parent.layer.close(index);
						  parent.layer.msg('修改成功'); 
					  }else{
						  layer.msg('修改失败:'+result.MESSAGE);
					  }
				  }
			  });
			  return false; //阻止表单跳转。如果需要表单跳转，去掉这段即可。
			});	  
	});
	/*]]>*/
	</script>
</body>
</html>