<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://org.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="_ctx" th:content="@{/}" />
<title>角色管理</title>
<script th:src="@{/jquery-3.3.1.min.js}"></script>
<script th:src="@{/share.js}"></script>
<script th:src="@{/layui/layui.js}"></script>
<link rel="stylesheet" th:href="@{/layui/css/layui.css}" media="all">
</head>
<body>
	<div style="display: inline-block;">
		<label class="layui-form-label">用户名</label>
		<div class="layui-input-inline" style="width: 150px;">
			<input id="name" placeholder="请输入用户名" autocomplete="off" class="layui-input">
		</div>
	</div>
	<div style="display: inline-block;">
		<label class="layui-form-label">用户账号</label>
		<div class="layui-input-inline" style="width: 150px;">
			<input id="account" placeholder="请输入用户账号" autocomplete="off" class="layui-input">
		</div>
	</div>
	<div style="display: inline-block;">
		<label class="layui-form-label" title='点击清空' onclick="clearMinistries()">用户部门</label>
		<div class="layui-input-inline" style="width: 150px;">
			<input type="text" id="tree" lay-filter="tree" class="layui-input">
		</div>
	</div>
	<div style="display: inline-block;">
		<div class="layui-input-inline">
			<a class="layui-btn layui-btn-normal" onclick="searchGrid()"> 搜索 </a>
		</div>
	</div>
	<a class="layui-btn layui-btn-primary" onclick="add()">创建用户</a>
	<div style="height: 80%">
		<table class="layui-hide" id="idTest" lay-filter="idTest"></table>
	</div>
	<script type="text/html" id="barDemo">
<a class="layui-btn layui-btn-sm  layui-btn-danger" lay-event="remove" title="删除"><i class="layui-icon" >&#xe640;</i></a>
<a class="layui-btn layui-btn-sm" lay-event="get" title="查看明细"><i class="layui-icon" >&#xe63c;</i></a>
<a class="layui-btn layui-btn-sm layui-btn-normal" lay-event="viceMinistries" title="副部门配置"><i class="layui-icon" >&#xe620;</i></a>
	</script>
	<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
		layui.config({
			base : _ctx + '/layui/extends/',
		}).extend({
			treeSelect : 'treeSelect'
		});
		var treeSelect
		layui.use(['treeSelect'], function() {
			treeSelect= layui.treeSelect,$ = layui.jquery;
			
			treeSelect.render({
	            elem: '#tree',
	            data: _ctx+'/ministries/tree',
	            headers: {},
	            type: 'post',
	            // 占位符
	            placeholder: '目前为根节点',
	            style: {
	                folder: {
	                    enable: true
	                },
	                line: {
	                    enable: true
	                }
	            },
	            click: function(d){
	                $('#tree').val(d.current.id);
	            }
	        });});
		
		layui.use('element', function(){
			  var element = layui.element;
			});
			var table;
			layui.use('table', function() {
				table = layui.table;
				table.render({
					elem : '#idTest',
					height : 'full',
					url : _ctx+'/manager-user/list',
					id : 'idTest',
					method : "post",
					loading: true,
					limits:[10],
					size: 'lg',
					cols : [ 
					         [
					{type:'checkbox'} ,
					{field : 'name',width : "20%",title : '用户名称' },
					{field : 'createTime',width : "40%",title : '创建时间' ,templet:function(d){return dateFormat(d.createTime, 'Y-m-d H:i:s')}},
					{fixed: 'right',title:'操作栏',width : "37%", align:'center', toolbar: '#barDemo',style:'background-color: #F5FFFA; color: #fff;'}
					] 
					         ],
					page : true
				});
				  //监听工具条
				  table.on('tool(idTest)', function(obj){
				    var data = obj.data;
				    if(obj.event=== 'remove'){
				    	remove(data);//删除
				    }else if(obj.event==='get'){
				    	get(data);
				    }else if(obj.event==='viceMinistries'){
				    	viceMinistries(data);
				    }
				  });
				  
			});
	    
	    	//添加部门
			function add(){
				layui.use('layer', function(){
			    	  var layer = layui.layer;
			    	  var index = layer.open({
				    	  type: 2,
				    	  title: "新增用户",
				    	  content: _ctx+'/manager-user/editUser',
				    	  area: ['400px', '500px'],
				    	  maxmin: false,
				    	  end:function(){
				    		  $(".layui-laypage-btn")[0].click();
				    	  }
				    	});
			    	  //layer.full(index);
			    	});
			}
			
			
			//逻辑级联删除部门,物理删除关联的角色关系
		    function remove(obj) {
		        layer.confirm("确定删除用户吗？", {icon: 3, title:'提示'},
		            function(index){//确定回调
		                $.ajax({
		                	type:'delete',
		                	url:_ctx+'/manager-user/'+obj.id,
		                	success:function(result){
		                		if(result.SUCCESS){
		                			layer.msg('删除成功');
		                			$(".layui-laypage-btn")[0].click();
		                		}else{
		                			layer.msg('删除失败:'+result.MESSAGE);
		                		}
		                	}
		                });
		                layer.close(index);
		            },function (index) {//取消回调
		               layer.close(index);
		            }
		        );
		    }
			
			function get(obj){
				layui.use('layer', function(){
			    	  var layer = layui.layer;
			    	  var index = layer.open({
				    	  type: 2,
				    	  title: "查看用户",
				    	  content: _ctx+'/manager-user/userGet/'+obj.id,
				    	  area: ['500px', '500px'],
				    	  maxmin: false,
				    	  end:function(){
				    	  }
				    	});
			    	  //layer.full(index);
			    	});
			}
			
			function viceMinistries(obj){
				layui.use('layer', function(){
			    	  var layer = layui.layer;
			    	  var index = layer.open({
				    	  type: 2,
				    	  title: "副部门管理",
				    	  content: _ctx+'/ministries/viceMinistries/'+obj.id,
				    	  area: ['500px', '500px'],
				    	  maxmin: false,
				    	  end:function(){
				    		  $(".layui-laypage-btn")[0].click();
				    	  }
				    	});
			    	  //layer.full(index);
			    	});
			}
 			
			//搜索
			function searchGrid() {
				var searchData={};
				 	searchData.name=$('#name').val();
				 	searchData.account=$('#account').val();
				 	searchData.ministriesId=$('#tree').val();
				table.reload('idTest', {
					where : searchData,
					page : {
						curr : 1//重新从第 1 页开始
					}
				});
			}
			
			function clearMinistries(){
				treeSelect.revokeNode('tree');
			}
			/*]]>*/
		</script>
</body>
</html>