<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.cmc.comicgrab.mapper.MenuMapper">
	<resultMap id="baseResult" type="org.cmc.comicgrab.entity.Menu">
		<id column="id_" jdbcType="INTEGER" property="id" />
		<result column="menu_name_" jdbcType="VARCHAR" property="menuName" />
		<result column="parent_id_" jdbcType="INTEGER" property="parentId" />
		<result column="menu_url_" jdbcType="VARCHAR" property="menuUrl" />
		<result column="request_type_" jdbcType="VARCHAR" property="requestType" />
		<result column="menu_type_" jdbcType="VARCHAR" property="menuType" />
		<result column="menu_icon_" jdbcType="VARCHAR" property="menuIcon" />
		<result column="sys_status_" jdbcType="VARCHAR" property="sysStatus" />
		<result column="create_time_" jdbcType="TIMESTAMP" property="createTime" />
		<collection column="id_" property="children" ofType="org.cmc.comicgrab.entity.Menu" javaType="java.util.ArrayList" select="getMenuTree"></collection>
	</resultMap>

	<select id="getMenuTree" resultMap="baseResult" parameterType="int">
		select
		id_,name_,parent_id_,menu_url_,request_type_,menu_type_,menu_icon_,sys_status_,create_time_
		from menu_
		where
		parent_id_=#{parentId}
	</select>
</mapper>
